#search-bar-container {
  display: block;
  border-bottom: 2px solid gray;
  outline: 1px solid lightgray;
  background-color: rgb(240,240,240);
  padding: 10px;
}

#search-bar {
  outline: 1px solid lightgray;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 3px 9px;
  background-color: white;
  transition: 0.2s ease-in-out;
  width: calc(100%)
}

#search-bar:focus {
  outline: 1px solid #13C6FF;
  border: 2px solid #4B56A5;
  box-shadow: 2px 2px 2px 2px rgba(150,150,150,0.3);
}

iframe, object {
  width: 100vw;
  height: calc(100vh - 87px);
}

#bookmarks-container {
  display: flex;
  background-color: rgb(210,220,230);
  border-bottom: 1px solid lightgray;
}

.bookmark {
  border: 2px solid gray;
  background-color: white;
  color: gray;
  border-radius: 8px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  line-height: 10px;
  margin: 5px 0 5px 10px;
  cursor: pointer;
}
